---
layout: default
---

<div class="container">
  <div class="row">
    <div class="twelve columns">
      {% include about.html %}
    </div>
  </div>

  <div class="row">
    <div class="four columns">
      <aside class="feature">
        <h1 class="feature-title">Book in progress!</h1>
        <a class="book-title" href="{{ site.data.book.url | prepend: site.baseurl }}">
          {{ site.data.book.title }}
        </a>
      </aside>

      <aside id="recurse" class="feature">
        <h1 class="header">Recurse Center</h1>
        <a href="{{ "tags/recurse" | prepend: site.baseurl }}" class="logo"><img src="https://d29xw0ra2h4o4u.cloudfront.net/assets/logo-no-text-ab02ba4e6d854337f7d7515e08f57520a82883ace40d22b4de689435cc211ffd.png" alt="" height="52"></a>
        <p>I'm attending <a href="{{ site.data.recurse.url | prepend: site.baseurl }}">{{ site.data.recurse.name }}</a> Fall&nbsp;2 batch from&nbsp;Sept.&nbsp;28th to Dec.&nbsp;17th,&nbsp;2015.</p>
      </aside>
    </div>

    <section class="eight columns">
      <h1 class="header">Posts</h1>

      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</div>
