---
layout: default
---

<div class="container">
  <div class="row">
    <section class="twelve columns" id="tags">

      <header class="header">
        <h1 class="title">Tags</h1>
        <a href="{{ '/#toc' | prepend: site.baseurl }}" class="button">Browse all posts</a>
      </header>

      <ol>
        {% if site.data.tags[0] %}
          {% for tag in site.data.tags %}
            <li class="tag">
              <a href="{{ tag.slug | prepend: site.tagsurl | append: '#tag' }}">{{ tag.name }}</a>
            </li>
          {% endfor %}
        {% else %}
            <p>There are no tags at this point.</p>
        {% endif %}
      </ol>
    </section>
  </div>
</div>
