<img class="avatar" id="author-avatar" src="{{ site.data.author.avatar }}" height="110" width="110" />

<ul id="author-profiles">
  <li id="author-name">{{ site.data.author.name }}</li>
  <li>
    <i class="icon fa fa-map-marker"></i>
    {{ site.data.author.location }}
  </li>
  {% for profile in site.data.author.profiles %}
    <li>
      <i class="icon fa fa-{{ profile.site }}"></i> {{ profile.site | capitalize }}:
      <a href="{{ profile.url }}">{{ profile.username }}</a>
    </li>
  {% endfor %}
</ul>
