<div class="container">
  <div class="row">
    <div class="twelve columns">
      <a href="#" title="Back to top" class="skip">Top&nbsp;<i class="fa fa-long-arrow-up"></i></a>
      <footer>
        <p>
          Let's talk on <a href="{{ site.data.author.profiles.first.url }}">Github&nbsp;<i class="fa fa-external-link"></i></a>&nbsp;!
        <small class="u-pull-right">
          Copyright &copy; 2015-2018
          <a rel="author">{{ site.author }}</a>.
          <a rel="license">{{ site.license }}</a>
        </small>
        </p>
      </footer>
    </div>
  </div>
</div>
