#author-avatar {
  float: left;
  margin-right: $gutter;
  border-radius: $avatar-radius;
}

#author-profiles {
  list-style: none;
  border-bottom: $border-style;
  margin-bottom: -$border-width;

  li {
    margin: 0;
  }
  .icon {
    min-width: 1.2em;
  }
}

#author-name {
  font-weight: bold;
  padding-bottom: $vertical-spacing !important;
}

#author-avatar {
  margin-bottom: $vertical-spacing;
  margin-top: $vertical-spacing;
}

#author-profiles {
  padding-bottom: $vertical-spacing;
  padding-top: $vertical-spacing;
}
