/*
* Custom stylesheet.
* Author: Gonzalo Bulnes Guilpain
* See https://github.com/gonzalo-bulnes/gonzalo-bulnes.github.io
*
*/

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  text-decoration: none;
  &:focus, &:hover {
    text-decoration: underline;
    &.button,
    footer &[rel="author"],
    footer &[rel="license"] {
      text-decoration: none;
    }
  }

  footer &[rel="author"],
  footer &[rel="license"] {
    color: inherit;
  }
}

// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: darken($primary-color, 10%);
  border-color: darken($primary-color, 10%);
}

// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  #welcome &, #contact & {
    font-weight: 300;
  }
}

h2 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem;  }
h3 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h4 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h5 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0;       }
h6 { color: red }

// Custom
//––––––––––––––––––––––––––––––––––––––––––––––––––

header {
  margin-top: 2.5rem;
  padding-bottom: 1.5rem;
}

#contact {
  margin-top: 5rem;
  padding-bottom: 3rem;
  .profile {
    font-weight: 600;
  }
}

h1 {
  #home header &,
  #about #contact & {
    position: absolute;
    left: -10000rem;
  }
  #home section header & {
    position: inherit;
  }
}

h1[data-sorting] {
  &::after {
    content: attr(data-sorting);
    color: darken($primary-color, 10%);
    font-size: .6em;
    font-weight: 300;
    color: inherit;
  }
  #tag & {
    &::after {
      content: none;
    }
    &::before {
      content: attr(data-sorting);
      color: darken($primary-color, 10%);
      padding-right: .8rem;
      font-size: .6em;
      font-weight: 300;
      color: inherit;
    }
  }
}

#toc, #tags, #tag {
  ol {
    margin-top: 2.5rem;
    list-style: none;
  }
  li {
    border-bottom: 1px dotted $line-color;
    position: relative;
    margin: 0;
    &::before {
      content: attr(data-publication-date);
      color: $secondary-color;
      position: absolute;
      top: 1.1rem;
    }
    &:last-child {
      border-bottom-width: 0;
    }
    a {
      display: inline-block;
      font-weight: bold;
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
      font-size: 2.4rem;
      line-height: 1.35;
    }
  }
}

#tags {
  ol {
    margin-top: 1rem;
  }
  li a {
    display: inline-block;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2.4rem;
    line-height: 1.35;
  }
}

#toc, #tags, #tag li {
  .teaser {
    position: relative;
    z-index: 0;
    margin: -3rem 0 3.5rem;
  }
}

@media (#{$bp-larger-than-phablet}) {
  #toc, #tags, #tag {
    li {
      position: realtive;
      &::before {
        content: attr(data-publication-date);
        color: $secondary-color;
        position: relative;
        left: 0;
        top: 0;
        min-width: 10.5rem;
        display: inline-block;
      }
      a {
        position: relative;
        z-index: 1;
      }
      .teaser {
        position: relative;
        z-index: 0;
        margin-left: 11rem;
      }
    }
  }
}

nav {
  border-bottom: 1px solid $line-color;
  a,
  p {
    display: inline-block;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-right: 1.8rem;
    margin-bottom: 0;
  }
  .button {
    float: right;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
  }
}

.skip {
  display: block;
  text-align: right;
}

footer {
  border-top: 1px solid $line-color;
  margin-top: 1.5rem;
  padding-top: 1rem;
  small {
    line-height: 2.4rem;
  }
}

@media (#{$bp-larger-than-tablet}) {
  .post header,
  .post article,
  .post #tags {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.post article p:last-of-type {
  &::after {
    content: "□";
    display: inline;
    padding-left: .2em;
    color: $secondary-color;
  }
}
.post article header p:last-of-type::after {
  content: none;
}

.post header {
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 5rem;
}

.post {
  font-size: 1.8rem;
  .author a[rel="author"] {
    font-weight: bold;
  }
  .meta, #tags {
    font-size: 1.5rem;
  }
  .author, .meta {
    margin-bottom: .5rem;
  }
}

*::selection {
  background-color: $primary-color;
  color: white;
  text-shadow: none;
}

*::-moz-selection {
  background-color: $primary-color;
  color: white;
  text-shadow: none;
}

// Markdown-generated HTML
//––––––––––––––––––––––––––––––––––––––––––––––––––

article p:first-of-type {
  font-style: italic;
}

article .footnote {
  font-size: 1.5rem;
}

p img {
  display: block;
  margin: 1rem;
  // Skeleton u-max-full-width
  max-width: 100%;
  box-sizing: border-box;
}

.slideshow {
  nav {
    position: absolute;
    left: -10000px;
  }
  article,
  article a {
    color: white;
  }
  header,
  img {
    margin-top: 35rem;
    margin-bottom: 35rem;
  }

}

#footnotes {
  list-style: none;
  margin-top: 5rem;
  border-top: 1px dashed $light-grey;
  padding-top: 2.5rem;
}

em em {
  font-style: normal;
}

.post {
  counter-reset: section;
  & h2::before {
    counter-increment: section;
    content: counter(section) ". ";
  }
  h2:last-of-type::before {
    content: ""
  }
}
