// Skeleton overrides

.container {
  padding-left: 0;
  padding-right: 0;
}

// Spike styles

.site-header {
  background-color: $light-grey;
  a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
}

.feature {
  overflow: hidden;
  padding-bottom: $vertical-spacing;
  padding-top: $vertical-spacing;
  margin-bottom: -$border-width;
  img, p {
    margin-bottom: inherit;
  }
}

.feature-title {
  font-size: 1.5rem;
  letter-spacing: normal;
}

.book-title {
  padding-left: 1em;
}

#recurse .header {
  position: absolute;
  left: -100000px;
}

#recurse .logo {
  float: left;
  margin-right: $gutter;
}

#posts-index {
  margin-bottom: -$border-width;
  border-bottom: $border-style;
}

#posts-index .header,
#tags-index .header {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: $border-style;

  border-bottom: $border-style;
  position: relative;

  .title {
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    letter-spacing: normal;
    margin-bottom: inherit;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.45rem;
    height: .7rem;
    width: .7rem;
    transform: rotate(45deg);
    border-bottom: $border-style;
    border-right: $border-style;
    background-color: $background-color;
  }
}

#tags-index  {
  ul {
    list-style: none;
  }
  .tag  {
    a {
      padding-bottom: 2rem;
      padding-top: 2rem;
      line-height: 1.5rem;
      display: block;
      text-decoration: none;
      font-weight: bold;
    }
    border-top: $border-style;
    border-bottom: $border-style;
    margin-top: -$border-width;
    margin-bottom: 0;
  }
}

#rss {
  float: right;
}
