.feature {
  padding-bottom: $vertical-spacing;
  padding-top: $vertical-spacing;
  margin-bottom: -$border-width;
}

.feature-title {
  font-size: 1.5rem;
  letter-spacing: normal;
}

.book-title {
  padding-left: 1em;
}
