
a:not([href]){
  color: inherit;
}

body {
  font-family: $font-family;
}

aside {
  border: 1px solid $light-grey;
  border-width: 1px 0;
}

h1 {
  font-family: $font-family-bold;
}

.feature-title {
  display: inline;
}

.book-title {
  font-family: $font-family-italic;
  text-decoration: none;
  color: inherit;
}



