$fushia: #d24;
$tango-sky-blue: #3465a4; // See http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines
$dark-gray: rgba(0, 0, 0, .8);
$middle-gray: rgba(0, 0, 0, .6);
$gray: rgba(0, 0, 0, .3);
$light-gray: rgba(0, 0, 0, .15);
